nav {

    background-color: #f5f5f5;
    border: 0;
    border-top: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;

    li {
        list-style: none;

        a {
            font-size: 22px;
            text-decoration: none;
            color: #4c4c4c;
        }

    }
    
}
