<!DOCTYPE html>
<html ng-app="userExplorer">
    <head>
        <meta charset="utf-8">
        <meta name="google" value="notranslate">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>UserExplorer</title>

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="css/font-awesome.min.css">
        <link rel="stylesheet" type="text/css" href="css/main.css">

        <!-- JavaScript -->
        <script type="text/javascript" src="//ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
        <script type="text/javascript" src="app/app.js"></script>
        <script type="text/javascript" src="app/filters/search.js"></script>
        <script type="text/javascript" src="app/directives/sort.js"></script>

    </head>
    <body ng-controller="MainCtrl">

        <h1 class="text-center">User Explorer</h1>

        <nav>
            <ul>
                <li>
                    <a href="#">Users</a>
                </li>
            </ul>
        </nav>

        <div class="table-wrapper">

            <div class="table-header">
                <span class="table-header-text">List of users</span>
                <div class="search-wrapper">
                    <input type="text" ng-model="searchText" placeholder="Search...">
                </div>
            </div>

            <table>
                <thead>
                    <th width="33%" sort by="order" reverse="reverse" order="'title'">Title</th>
                    <th width="33%" sort by="order" reverse="reverse" order="'username'">Username</th>
                    <th width="33%" sort by="order" reverse="reverse" order="'date'">Date</th>
                </thead>
                <tbody>
                    <tr ng-repeat="user in users | search:searchText:['title','username','date'] | orderBy:order:reverse as results">
                        <td>{{ user.title }}</td>
                        <td>{{ user.username }}</td>
                        <td>{{ user.date }}</td>
                    </tr>
                    <tr>
                        <td class="no-results" colspan="3" ng-show="results.length == 0">
                            No users matched the search "{{searchText}}"
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>

    </body>
</html>
